
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$updatesBckgr\".\A         on line 20 of src/css/main__advantages.scss\A \A 15: 	}\A 16: }\A 17: \A 18: .updates {\A 19: 	padding: 64px 0 82px;\A 20: 	background: $updatesBckgr;\A 21: 	h3 {\A 22: 		margin: 0 0 48px 3px;\A 23: 		color: $textColor1;\A 24: 		font: $font_size_medium +11 $fontUbuntuM, $fontArial;\A 25: 		text-transform: capitalize;"; }
